<div class="questionset-results">
  <div class="greeting"><%= greeting %></div>
  <div class="score <%= scoreclass %>"><%= score %></div>
  <div class="resulttext"><%= resulttext %></div>
  <div><button class="qs-finishbutton"><%= finishButtonText %></button></div>
</div>
