<div class="questionset">
  <% if (introPage.showIntroPage) { %>
  <div class="intro-page">
    <div class="title"><%= introPage.title %></div>
    <div class="introduction"><%= introPage.introduction %></div>
    <div class="buttons"><button id="qs-startbutton"><%= introPage.startButtonText %></button></div>
  </div>
  <%} %>
  <div class="title"><%= title %></div>
  <% for (var i=0; i<questions.length; i++) { %>
    <div class="question-container" id="q-<%= i %>">
      <div><%= questions[i].machineName %></div>
    </div>
  <% } %>
  <div class="question-footer">
    <div class="progress">
      <% if (progressType == "dots") { %>
        <div class="dots-container">
          <% for (var i=0; i<questions.length; i++) { %>
          <span class="progress-dot unanswered" id="qdot-<%= i %>"></span>
          <%} %>
        </div>
      <% } else if (progressType == "textual") { %>
        <span class="progress-text"></span>
      <% } %>
    </div>
    <button class="prev button"><%= texts.prevButton %></button>
    <button class="next button"><%= texts.nextButton %></button>
    <button class="finish button"><%= texts.finishButton %></button>
  </div>
</div>
