<div class="questionset-results">
  <div class="greeting"><%= greeting %></div>
  <div class="score <%= scoreclass %>"><%= score %></div>
  <div class="resulttext <%= scoreclass %>"><%= resulttext %></div>
  <div class="buttons"><a class="button qs-finishbutton"><%= finishButtonText %></a></div>
</div>
