<div class="questionset">
  <div class="title"><%= title %></div>
  <% for (var i=0; i<questions.length; i++) { %>
    <div class="question" id="q-<%= i %>">
      <div><%= questions[i].machineName %></div>
    </div>
  <% } %>
  <div class="question-footer">
    <div class="progress">
      <% if (progressType == "dots") { %>
        <% for (var i=0; i<questions.length; i++) { %>
        <span class="progress-dot unanswered" id="qdot-<%= i %>">o</span>
        <%} %>
      <% } else if (progressType == "textual") { %>
        <span class="progress-text"></span>
      <% } %>
    </div>
    <button class="prev button"><%= texts.prevButton %></button>
    <button class="next button"><%= texts.nextButton %></button>
    <button class="finish button"><%= texts.finishButton %></button>
  </div>
</div>
